
@{
    ViewBag.Title = "DetectionAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">核算录入</h6>
        <form action="/Detection/DetectionAdd" method="post">
            @*<div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword"
                           placeholder="请输入">
                    <label for="floatingPassword">姓名</label>
                </div>*@
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" name="StuID"
                        aria-label="Floating label select example">
                    <option selected>选择学生</option>
                    @foreach (var item in Model as List<Corona_Virus_Disease.Models.Student>)
                    {
                        <option value="@item.StuID">@item.StuName</option>
                    }
                </select>
                <label for="floatingSelect">姓名</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" name="Dresult"
                        aria-label="Floating label select example">
                    <option selected>选择核酸结果</option>
                    <option value="阴性">阴性</option>
                    <option value="阳性">阳性</option>
                </select>
                <label for="floatingSelect">结果</label>
            </div>
            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">提交</button>
        </form>

    </div>
</div>

