
@{
    ViewBag.Title = "ArticleEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">添加物品</h6>
        <form action="/Article/ArticleEdit" method="post">

            @foreach (var item in Model as List<Corona_Virus_Disease.Models.Article>)
            {
                <input hidden name="AID" value="@item.AID" />
                <div class="form-floating mb-3">
                    <select disabled class="form-select" id="floatingSelect" name="Atype"
                            aria-label="Floating label select example">
                        
                        <option >@item.Atype</option>
                    </select>
                    <label for="floatingSelect">类型</label>
                </div>
                <div class="form-floating mb-3">
                    <input disabled type="text" class="form-control" id="floatingPassword" value="@item.Aname" name="Aname"
                           placeholder="名称">
                    <label for="floatingPassword">名称</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPassword"  name="Acount"
                           placeholder="数量">
                    <label for="floatingPassword">入库数量</label>
                </div>
                @*<div class=" mb-3">
                    <label for="formFile" class="form-label">请选择物品图片</label>
                    <input class="form-control" type="file" id="formFile" name="Apic">
                </div>*@
            }

            @*<div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" name="Atype"
                        aria-label="Floating label select example">
                    <option selected>选择物品类型</option>
                    <option value="消杀类">消杀类</option>
                    <option value="防护类">防护类</option>
                </select>
                <label for="floatingSelect">类型</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" name="Aname"
                       placeholder="名称">
                <label for="floatingPassword">名称</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" name="Acount"
                       placeholder="数量">
                <label for="floatingPassword">数量</label>
            </div>
            <div class=" mb-3">
                <label for="formFile" class="form-label">请选择物品图片</label>
                <input class="form-control" type="file" id="formFile" name="Apic">
            </div>*@

        <button type="submit" class="btn btn-primary py-3 w-100 mb-4" >提交</button>
        </form>

    </div>
</div>

