
@{
    ViewBag.Title = "NoticeAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">添加公告</h6>
        @using (Html.BeginForm("NoticeAdd", "Notice", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" name="Ntitle"
                       placeholder="标题">
                <label for="floatingPassword">标题</label>
            </div>

            <div class=" mb-3">
                <label for="formFile" class="form-label">请选择图片</label>
                <input class="form-control" type="file" id="formFile" name="Npic">
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" name="NContent"
                          id="floatingTextarea" style="height: 150px;"></textarea>
                <label for="floatingTextarea">内容</label>
            </div>
            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="提交">
        }
    </div>
</div>

