
@{
    ViewBag.Title = "StuManageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Content-FrontModel03/jsvue001.js"></script>
<script src="~/Content/Content-FrontModel03/jsvue002.js"></script>
<style>
    .btn {
        padding: 0px 2px 0px 2px;
    }
</style>
<div id="app">
    <div class="row" style="background-color: aliceblue;">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    学生管理列表
                    <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="添加学生" onclick="redirectToAdd()">
                        &nbsp;&nbsp;<i class="fa fa-plus-square">&nbsp;&nbsp; 添加学生</i>
                    </button>
                </header>
                <table class="table table-striped border-top" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center hidden-phone">序号</th>
                            <th class="center hidden-phone">学号</th>
                            <th class="center hidden-phone">学生姓名</th>
                            <th class="center hidden-phone">班级</th>
                            <th class="center hidden-phone">检测次数</th>
                            <th class="center hidden-phone">就诊次数</th>
                            <th class="center hidden-phone">请假次数</th>
                            <th class="center hidden-phone">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" v-for="(item,index) in list">
                            <td class=" hidden-phone">{{index+1}}</td>

                            <td class=" hidden-phone">{{item.StuXH}}</td>
                            <td class=" hidden-phone">{{item.StuName}}</td>
                            <td class=" hidden-phone">{{item.Classname}}</td>
                            <td class="hidden-phone">{{item.DCount}}</td>
                            <td class="hidden-phone">{{item.VCount}}</td>
                            <td class="hidden-phone">{{item.LCount}}</td>
                            <td class=" hidden-phone">
                                <button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="审批" @@click="redirectToDetails(item.StuID)">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="删除" @@click="redirectToDelete(item.StuID)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            list: []
        },
        created: function () {
            this.NoticeData();
        },
        methods: {
            NoticeData: function () {
                var vm = this;
                axios.get('/StuManage/StuManageIndexJson')
                    .then(function (response) {
                        vm.list = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            redirectToDetails(id) {
                window.location.href = '/StuManage/StuManageEdit?id=' + encodeURIComponent(id);
            },
            redirectToDelete(id) {
                var confirmation = confirm("你确认要删除该记录吗？")
                if (confirmation) {
                    window.location.href = '/StuManage/StuManageDelete?id=' + encodeURIComponent(id);
                }
            }
        }
    })
    function redirectToAdd() {
        window.location.href = '/StuManage/StuManageAdd'
    }
</script>

